* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../img/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.taskbar {
  z-index: 5;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
}
.start-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
  background: url('../img/win10logo.svg') no-repeat center / 20px;
}
.start-btn:hover {
  background: url('../img/win10logob.svg') no-repeat center / 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.start-btn:active {
  background: url('../img/win10logob.svg') no-repeat center / 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.start-menu {
  z-index: 4;
  display: none;
  position: fixed;
  bottom: 40px;
  left: 0px;
  width: 900px;
  height: 640px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  box-shadow: rgba(0, 0, 0, 0.7) 2px 0px 4px;
}
.taskbar-right {
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
}
.date-area {
  order: 1;
  height: 40px;
  display: block;
  width: 80px;
  background-color: transparent;
  text-align: center;
  color: #fff;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}
.date-area:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.date-area:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.time-str {
  position: relative;
  top: 2px;
  cursor: default;
}
.date-str {
  position: relative;
  bottom: -4px;
  cursor: default;
}
.show-desktop {
  order: 0;
  height: 40px;
  display: block;
  width: 5px;
  transition: all 0.1s ease-in-out;
  background-color: transparent;
  border-left: rgba(255, 255, 255, 0.7) 1px solid;
}
.show-desktop:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.calendar {
  z-index: 4;
  display: none;
  width: 360px;
  height: 640px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  bottom: 40px;
  right: 0;
}
.calendar-time {
  font-size: 42px;
  font-family: 'Segoe UI Light';
  color: #fff;
}
.calendar-date {
  font-family: '微软雅黑';
  font-size: 12px;
  color: #abd5f2;
}
.calendar-top {
  display: block;
  width: 100%;
  height: 96px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}
.calendar-top span {
  margin-left: 30px;
  cursor: default;
}
.calendar-main {
  display: block;
  width: 100%;
  height: 320px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}
.calendar-titlebar {
  display: block;
  width: 100%;
  height: 25px;
}
.calendar-titlebar span {
  margin-left: 30px;
  cursor: default;
  color: #fff;
  font-family: 'Segoe UI Light';
}
.button-up {
  float: right;
  margin-right: 30px;
  pointer-events: none;
}
.button-up::before {
  content: '\e010';
  font-family: 'Segoe MDL2 Assets';
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}
.button-up:hover::before {
  color: #fff;
}
.button-down {
  float: right;
  margin-right: 35px;
  pointer-events: none;
}
.button-down::before {
  content: '\e011';
  font-family: 'Segoe MDL2 Assets';
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
  pointer-events: auto;
}
.button-down:hover::before {
  color: #fff;
}
.calendar-wrapper {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
  margin: 0 24px;
  text-align: center;
}
.calendar-wrapper .cell {
  display: block;
  padding: 5px;
  border: transparent 3px solid;
  cursor: default;
  margin: 1px;
}
.last-month,
.next-month {
  color: rgba(255, 255, 255, 0.1);
}
.this-month,
.weekday-title {
  color: #fff;
}
.calendar-wrapper .cell.today {
  background-color: #298bcc;
  border-color: #abd5f2;
  color: #fff;
}
.calendar-wrapper .cell:hover {
  border: rgba(255, 255, 255, 0.2) 3px solid;
  transition: all 0.2s ease-in-out;
}
.calendar-wrapper .cell.weekday-title:hover {
  border: transparent 3px solid;
}
